{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<section class="pt-3 pb-5" id="down">
    <div id="back" class="container">
        <a href="{% url 'articles-list' %}">
            <button type="button" class="btn btn-dark">Back To Articles</button>
        </a>
    </div>
	<div id="login" class="container p-5">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <p>Don't have an account? <a href="{% url 'register' %}"> Register now! </a></p>
        <input type="submit" value="Login" class="btn btn-primary btn-sm btn-block">
    </form>
    </div>
</section>
{% endblock content %}