{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<section class="pt-3 pb-5" id="down">
    <div id="back" class="container">
        <a href="{% url 'articles-list' %}">
            <button type="button" class="btn btn-dark">Back To Articles</button>
        </a>
    </div>
	<div id="register" class="container p-5">
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        {{form|crispy}}
         <p>Have an account? <a href="{% url 'login' %}"> Login now! </a></p>
        <input type="submit" value="Register" class="btn btn-dark btn-block">
    </form>
    </div>
</section>
{% endblock content %}