{% extends "base.html" %}

{% block content %}

<section id="down" class="details-section">
	<div class="row">
		<div class="col">
			<div id="back-details" class="container">
				<a href="{% url 'articles-list' %}">
					<button type="button" class="btn btn-dark">Back To Articles</button>
				</a>
			</div>		
		</div>
{% if request.user.is_authenticated and request.user == article.author %}
		<div class="col">
			<div id="edit" class="container">
				<a href="{% url 'edit-article' article.slug %}">
					<button type="button" class="btn btn-outline-success">Edit This Article</button>
				</a>
			</div>		
		</div>
	</div>
{% elif request.user.is_authenticated %}
		<div class="col">
			<div id="contribute" class="container">
				<a href="{% url 'contribute-to-article' article.slug %}">
					<button type="button" class="btn btn-danger">Contribute</button>
				</a>
			</div>		
		</div>
	</div>
{% endif %}
    <div id="details" class="container">
    	<h2 class="title-details">{{article.title|title}}</h2>
    	<p id="name" class="title-center"><i id="icon" class="far fa-user"></i>{{article.author|title}} </i> </p>
    	<p>{{article.content}}</p>
    	<hr>
    	<p id="name" class="title-center"><i id="icon" class="fas fa-users"></i> Contributors:
    	{% for contribution in contributions %}
    	{{contribution.user.first_name}}{% if not forloop.last %}, {% endif %}
    	{% empty %}
    	<tr><td>No one contributed to this article.</td></tr>
    	{% endfor %}
    	</p>
    	</div>

</section>    
{% endblock content%}