{% extends "base.html" %}

{% block content %}

<section id="down" class="details-section">
	<div class="row">
		<div class="col">
			<div id="back-details" class="container">
				<a href="{% url 'articles-list' %}">
					<button type="button" class="btn btn-dark">Back To Articles</button>
				</a>
			</div>		
		</div>
{% if request.user.is_authenticated and request.user == article.author %}
		<div class="col">
			<div id="edit" class="container">
				<a href="{% url 'edit-article' article.id %}">
					<button type="button" class="btn btn-warning">Edit This Article</button>
				</a>
			</div>		
		</div>
	</div>
{% endif %}
    <div id="details" class="container">
    	<h1 class="title-details">{{article.title}}</h1>
    	<p id="name" class="title-center"><i id="icon" class="far fa-user"></i>{{article.author|title}} </i> </p>
    	<p>{{article.content}}</p>
    	</div>

</section>    
{% endblock content%}