{% extends "base.html" %}

{% block content %}

<section id="down">
    <div id="create" class="container">
        <a href="{% url 'create-article' %}">
            <button type="button" id="btn-create" class="btn btn-dark">Create New Article</button>
        </a>
    </div>

<div class="container" id="list-container">

{# --------------------------------------- #}
{# Just for test #}
    <div id="create" class="container">
        <a href="{% url 'logout' %}">
            <button type="button" class="btn btn-danger">Logout</button>
        </a>
    </div>
{# --------------------------------------- #}


    <ul class="list-group">
        {% for article in articles %}
        <li class="list-group-item">
            <ul class="list-inline">
                <li id="author" class="list-inline-item"><i id="icon" class="far fa-user"></i>{{article.author|title}}</li>
                <li id="created" class="list-inline-item"><i id="icon" class="far fa-calendar-alt"></i>{{article.created_on|date:'d-M-Y'}}</li> 
            </ul>
                <a href="{% url 'article-details' article.id %}">
                    <h4 class="title">{{article.title|title}}</h4>
                </a>
                <p id="content">{{article.content|truncatechars:250}}</p>
            </li>
        {% endfor %}
        {% include 'paginator.html' with page=articles %}

    </ul>
</div>
</section>

{% endblock content%}


