{% extends "base.html" %}

{% block content %}

<section class="pt-3 pb-5" id="down">
<div class="container">
    {% for line in comparison %}
    	{% if not line|make_list|first == '?' %}
    		{% if line|make_list|first == '-' %}
    			<p class="red-background">
    		{% elif line|make_list|first == '+' %}
    			<p class="green-background">
    		{% endif %}
    		{{line}}</p>
    	{% endif %}
    {% endfor %}
    <a href="{% url 'accept-changes' contribution.id %}">
        <button type="button" class="btn btn-success btn-block">Accept</button>
    </a>
    <br>
    <a href="{% url 'decline-changes' contribution.id %}">
        <button type="button" class="btn btn-danger btn-block">Decline</button>
    </a>
</div>
</section>
{% endblock content%}