{% extends "base.html" %}

{% block content %}
<section class="pt-3 pb-5" id="down">
	<div id="contribution-list" class="container">	
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Submission Date</th>
					<th scope="col">Article</th>
					<th scope="col">Review</th>
				</tr>
			</thead>
			<tbody>
				{% for contribution in contributions %}
				<tr>
					<td>
						{{contribution.date}} 
					</td>
					<td>
						{{contribution.article}}
					</td>
					<td>
						<a href="{% url 'contribution-details' contribution.id %}">
							<button type="button" class="btn btn-warning">Review</button>
						</a>
					</td>
					{% empty %}
					<td class="contributed">
						<h5> No one contributed to your articles yet. If you don't have any <a href="{% url 'create-article' %}"> create </a> now! </h5>
					</td>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>
{% endblock content %}