{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<section class="pt-3 pb-5" id="down">
    <div id="back" class="container">
        <a href="{% url 'articles-list' %}">
            <button type="button" class="btn btn-dark">Back To Articles</button>
        </a>
    </div>
	<div class="container p-5">
    <form action="{% url 'create-article' %}" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Create" class="btn btn-outline-primary btn-block">
    </form>
    </div>
</section>
{% endblock content %}