{% extends "base.html" %}

{% block content %}
<section class="pt-3 pb-5" id="down">
	<div class="container">	
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Status</th>
					<th scope="col">Article</th>
					<th scope="col">Date</th>
				</tr>
			</thead>
			<tbody>
				{% for contribution in request.user.contributions.all %}
				<tr>
					<td>
					{% if contribution.status == 'Accepted' %}
						<p class="green">{{contribution.status}}</p>
					{% elif contribution.status == 'Pending' %}
					    <p class="blue">{{contribution.status}}</p>
					{% else %}	
					    <p class="red">{{contribution.status}}</p>
					{% endif %}	
					</td>				
					<td>
						{{contribution.article}}
					</td>
					<td>
						{{contribution.date}}
					</td>
					{% empty %}
					<td class="contributed">
						<h5> You did not contribut to any article yet. </h5>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>
{% endblock content %}