{% extends "base.html" %}

{% block content %}
<section class="pt-3 pb-5" id="down">
	<div class="container">	
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Status</th>
					<th scope="col">Article</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for contribution in request.user.contributions.all %}
				<tr>
					<td>
						{{contribution.status}}
					</td>
					<td>
						{{contribution.article}}
					</td>
					<td>
						{{contribution.date}}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>
{% endblock content %}